body{
	background-image: url(img/dark.jpg);
}


body nav a{
	background-color: white;
}


body thead{
	background-color: peachpuff;
}
body ul{
	background-color: burlywood;
}
body tr{
	background-color: burlywood;
}
body td{
	background-color: burlywood;
}


.aku{
	color: burlywood;
	font-family: monospace;
}
.akuaku{
	color: burlywood;
	font-family: monospace;
}


body p{
	color: peachpuff;
}


body label{
	color: burlywood;
}
body input {
	background-color: peachpuff ;
}
body textarea{
	background-color: peachpuff;
}


.me{
	font-family: monospace;
	color: burlywood;
}
.meme{
	font-family: monospace;
	color: burlywood;
}
.mememe{
	font-family: monospace;
	color: burlywood;
}

.i{
	font-family: monospace;
	color: burlywood;
}
.anu{
color: peachpuff;
background-color: transparent;
}


.u{
	font-family: monospace;
	color:burlywood ;
}
